body{
  background-image: radial-gradient(lightpink,white);
}

.har-sit {
text-align: center;
color: black;
}

.jyo-ti{
  border-radius: 20px;
  height: 45px;
  margin-left: 25%;
  background-color: crimson;
  color: white;
  font-size: medium;
  font-style: italic;

}
.jyt{
  border-radius: 20px;
  height: 45px;
  margin-left:10%;
  background-color: crimson;
  color: white;
  font-size: medium;
  font-style: italic;
}
.Box{
  text-align: center;
  height: 20%;
  width: 10%;
  background-color: lightseagreen;
  border: 2px solid;
  border-radius: 25px;
}
/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
